/* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* 
========================
Variables
========================
*/

:root {
  font-size: 15px;

  /* Primary */
  --var-soft-blue: hsl(215, 51%, 70%);
  --var-cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;

  /* Fonts */

  --var-heading: normal normal 600 1.5em/1.6em "Outfit", sans-serif;

  --var-small-heading: normal normal 600 1.5em/1.2em "Outfit", sans-serif;

  --var-para: normal normal 300 1em/1.55em "Outfit", sans-serif;
}

/* 
=======================
Setup
=======================
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
}

img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

/*
=========================
Font Styling
=========================
*/

h3 {
  font: var(--var-small-heading);
  padding: 1.2em 0;
  text-align: center;
  text-justify: inter-word;
}

p {
  font: var(--var-para);
  color: hsl(220, 15%, 55%);
  text-align: center;
  text-justify: inter-word;
}

span {
  color: white;
}
/* 
=====================
Classes
=====================
*/

/* LAYOUT */

.card-container {
  width: 100%;
  max-width: 400px;
  margin: 5% auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 2rem;
}

@media (max-width: 600px) {
  .card-container {
    /* Updated CSS properties for mobile */
    max-width: 350px;
  }
}
